html {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

header {
  border: solid red 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  width: inherit;
}

body {
  display: flex;
  flex-direction: column;
  border: solid blue 2px;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
body .sideNav {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
}
.sideNav div {
  border: solid black 1px;
  flex-direction: column;
}
.TOS-Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid black 2px;
  height: 75vh;
  width: 60vw;
  border: 1px solid gray;
}
.TOS-Container div {
flex-grow: inherit;
  margin: 50px 30px;
  /* margin: 0 auto; */
  border: solid black 2px;
  height: 75%;
  width: 45%;
}
.TOS-info {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  height: 400px;
  width: 500px;
}
.sideNav div h6 {
  border: solid black 1px;
  height: 10vh;
  width: inherit;
  margin: 0;
  text-align: center;
  line-height: 10vh;
  font-size: 2vh;
}
