/*********** Font Import ***********/


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Playfair+Display:ital,wght@0,500;1,400;1,500&display=swap');
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */
:root{
  /*********** Color ************/
  --dark: #05080fff;
  --light: #ebdec5ff;
  --availible: #36cf52ff;
  --away: #f2cf44ff;
  --alert: #da3e52ff;
  --unavailible: rgb(120, 130, 153);
/*********** Fonts ***********/

}

html {
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}
/************ Header **************/
header {
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
}
header h2{
  color:var(--light);
  font-size:200%;
  line-height: 50%;
  margin-left:2%;
  font-family: 'Montserrat', sans-serif;
}
header h2 a{
color: var(--light);
text-decoration-line: none;
}
header h2 a:visited{
  color: var(--light);
}
header h2 a:hover{
  color: var(--light);
  cursor: pointer;
}
/*************** DropDown Menu ************/
header .dropDown{
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: baseline;
  color:var(--light);
  border-left-style: solid;
  border-left-color: var(--light);
  border-left-width: 1px;
  line-height: 50%;
  width: 20%;
}

.dropDown p{
font-size: 150%;
}
header .dropDown:hover{
background-color: rgb(24, 50, 58);
cursor:pointer;
}

/* Make the sizing proportional to changing screen. May consider DOM Manipulation for this. */
header .status{
  height: 2vh;
  width: 1vw;
  line-height: 200px;
  margin:0px 10px;
  border-radius: 50%;
  background-color:var(--unavailible);
}
/************ Body Element **************/
body {
  display: flex;
  flex-direction: column;
  /* border: solid blue 2px; */
  background-color:white;
  height: 100vh;
  margin:0 auto;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

/******** SIDE NAV ********/
body .sideNav {
  border: solid black 1px;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
}
.sideNav div {
  border: solid black 1px;
  flex-direction: column;
}
.sideNav div h6 {
  border: solid black 1px;
  height: 10vh;
  width: inherit;
  margin: 0;
  text-align: center;
  line-height: 10vh;
  font-size: 2vh;
}

/********** TOS CONTAINER **********/
.TOS-Container {
  display: flex;
  flex-direction: row;
  /* border: solid black 2px; */
  height: 80vh;
  width: 85vw;
  /* border: 1px solid gray; */
}
.TOS-Container div {
  /* margin: 0 auto; */
  border: solid var(--dark) 2px;
  background-color: var(--light);
  height: 75%;
  width: 45%;
  margin:5% 1%;
}
.TOS-Container div h3 {
  padding: 1vh 2vw ;
}
.TOS-info {
  display: flex;
  flex-direction: row;
  border: solid black 2px;
  height: 20%;
  width: 30%;
  margin-left: 1%;
}
.TOS-Container .records{
  width: 65%;
  justify-items: center;
}


#record-container{
  margin: 0 auto;
  height: 60%;
  width: 66%;
  padding:5px 0px;
}
.recordNav{
  display: flex;
  flex-direction: row;
  border: 1px solid var(--dark);
  border-radius: 5px;
  margin:1vh auto ;
  padding:0px 1px;
  width: 66%;
  height: 10%;

}
.recordNav div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
  width: 100%;
  margin:0 auto;
  border: none;
}
.recordNav :nth-child(3){
  display: flex;
  margin:0 inherit;

}
.recordNav div:first-child{
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
width: 100%;
 }
.recordNav div:nth-child(-n+2){
  display: flex;
  border-right: 1px solid var(--dark);
 }

.recordNav div:nth-child(n+4){
  display: flex;
  border-left: 1px solid var(--dark);
}  
 

.recordNav div img{
 height: 70%;
}
/*Hover PseudoClass on Buttons with a Light Background*/
.recordNav div:nth-child(-n+2):hover,.recordNav div:nth-child(n+4):hover,.sideNav div h6:hover{
  background-color:white;
  cursor: pointer;
 }